<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout1}">
<body>
<div layout:fragment="content">

  <main>
    <div class = "submaintitle">
      자유게시판
    </div>
     <form th:object="${questionForm}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <div class="write">
      <table>
        <tr style = "height:70px">
          <td class = wrtitle>제목</td>
          <td ><input class = "write1" th:field="*{subject}" type ="text" ></td>
        </tr>
        <tr>
          <td class = wrtitle>내용</td>
          <td><p><textarea class = "write3" th:field="*{content}"></textarea></p></td>
        </tr>
        <tr style = "height:50px">
          <td class = "write4" ><input type="submit" value = "글올리기"></td>
        </tr>
      </table>
    </div>
    </form>
  </main>

</body>
</html>