<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout1}">
      
<body>
 <div layout:fragment="content">
  <main>
    <div class = "submaintitle">
      감상나누기
    </div>
    <div class = "sub2main">
      <div class = "con0">

      </div>
      <div class = "con1  img">
        <div class = "searchtitle">
          지금 읽고 있는 <span>책</span>을 검색하세요!
        </div>
        <input type ="text"  placeholder ="책제목을 입력하세요"><button><a href = "">검색</a></button>
      </div>
      <div class = "con0 img" >
        <a href = "write.html">글쓰기</a>
      </div>
      <div class = "con2 img">
        <a href = "sub2-1.html"><p class = text> go </p></a>
      </div>
      <div class = "con3 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "con4 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "con5 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "con6 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "con7 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "con8 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "con9 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "con10 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "con11 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "con12 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "con13 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "con14 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "con15 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "con16 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "con17 img">
        <a href = ""><p class = text> go </p></a>
      </div>
    </div>
    <div class = "more"><a href ="" >더보기 >></a></div>
  </main>
</body>
</html>