<!DOCTYPE html>

<html>

<head>

<meta charset="UTF-8">

<title>사용자 목록 출력</title>

<style>

tr, td {

border-bottom: 1px solid gray;

text-align: center;

}

</style>

</head>

<body>

<center>

<table>

<tr>

<td>가입번호</td>

<td>이름</td>

<td>비밀번호</td>

<td>이메일</td>

<td>가입날짜</td>

<td>로그인횟수</td>


</tr>





<tr th:each="users:${usersList}">


<td>[[${users.idx}]]</td>

<td>[[${users.name}]]</td>

<td>[[${users.pass}]]</td>

<td>[[${users.email}]]</td>

<td>[[${users.regdate}]]</td>

<td>[[${users.cnt}]]</td>

</tr>

</table>


</center>

</body>

</html>

