
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<center>
		<h1>유저 리스트 출력</h1>
		<hr>
		<a href="/user_insert" >회원등록</a>
		<hr>
		<table>
			<tr>
				<th>이름</th><th>이메일</th><th>등록날자</th>
			</tr>
			
			<tr th:each = "userL:${userList}">
				<td><a th:href="|/user_detail/${userL.idx}|"  th:text="${userL.name}"></a></td>
				<td th:text="${userL.email}"></td>
				<td th:text="${userL.regdate}"></td>
			</tr>
			
		</table>
	</center>
	
</body>
</html>

