<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <div th:fragment="footer">
  <footer>
    <div class = "foot">
      <div class = "logoimg">
        <a href = "index.html"><img src = "img/logo2.png"></a>
      </div>
      <div class = custom>
        <ul>
          <li>고객센터</li>
          <li>전화 : 032-1234-1234</li>
          <li>이메일 : booksea@google.com</li>
        </ul>
      </div>
        <ul class = mob>
          <a href = "#"><li><img src = "img/facebook.png"></li></a>
          <a href = "#"><li><img src = "img/twitter.png"></li></a>
          <a href = "#"><li><img src = "img/instagram.png"></li></a>
        </ul>
    </div>
  </footer>
  </div>
  </html>