<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
 
  <div th:fragment="header">
  <header>
  	<div class = "head">
      <div class = "logo">
       <a href="/"><img src = "img/logo2.png"></a>
      </div>
      <ul class = "topmenu">
        <li><a href = "sub1.html">이달의 책</a></li>
        <li><a href = "sub2.html">감상나누기</a></li>
        <li><a href = "sub3.html">책둘러보기</a></li>
        <li><a href = "sub4.html">자유게시판</a></li>
      </ul>
      <ul class = "rightmenu">
        <li><a href = "login.html">로그인</a></li>
        <li><a href = "join.html">회원가입</a></li>
      </ul>
     </div> 
   </header>   
 </div>

