<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
  <script src = "jquery-3.6.3.min.js"> </script>

</head>
<body>
  <header>
    <div class = "head">
      <div class = "logo">
        <a href = "index.html"><img src = "img/logo2.png"></a>
      </div>
      <ul class = "topmenu">
        <li><a href = "sub1.html">이달의 책</a></li>
        <li><a href = "sub2.html">감상나누기</a></li>
        <li><a href = "sub3.html">책둘러보기</a></li>
        <li><a href = "sub4.html">자유게시판</a></li>
      </ul>
      <ul class = "rightmenu">
        <li><a href = "login.html">로그인</a></li>
        <li><a href = "join.html">회원가입</a></li>
      </ul>
  </div>
  </header>
  <main>
    <div class = "submaintitle">
      자유게시판
    </div>
    <div class="fwrite">
      <table>
        <tr>
          <td class = fwritetitle>교보문고 디퓨져 나온거 나만 이제 알았나?</td>
        </tr>
        <tr>
          <td class = "click"> 조회수 : 58 </td>
        </tr>
        <tr>
          <td><img src = "https://img.hani.co.kr/imgdb/resize/2018/0508/00501139_20180508.JPG"></td>
        </tr>
        <tr>
          <td>나만 교보문고 디퓨져 나온거 이제서야 알았나? 써본 사람 있어? 궁금하다...</td>
        </tr>
        </table>
        <div class = "fwr" >
            <textarea class = "write3 cols="50" rows="10"></textarea><button><a href ="#">댓글달기</a></button>
          </div>
          <div class = "write4" >
            - 나는 디퓨져는 아니고 룸스프레이 하나 샀는데 진짜 교보문고 향이야... 신기... 
          </div>
         </div> 
    </div>
  </main>
  <footer>
    <div class = "foot">
      <div class = "logoimg">
        <a href = "index.html"><img src = "img/logo2.png"></a>
      </div>
      <div class = custom>
        <ul>
          <li>고객센터</li>
          <li>전화 : 032-1234-1234</li>
          <li>이메일 : booksea@google.com</li>
        </ul>
      </div>
        <ul class = mob>
          <a href = "#"><li><img src = "img/facebook.png"></li></a>
          <a href = "#"><li><img src = "img/twitter.png"></li></a>
          <a href = "#"><li><img src = "img/instagram.png"></li></a>
        </ul>
    </div>
  </footer>
</body>
</html>