<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout1}">
      
<body>
 <div layout:fragment="content">

  <main>
    <div class = "submaintitle">
      책둘러보기
    </div>
    <div class = "sub3page">
      <div class = "sub3img">
        <div class = "box1 img">
          <a href = ""><p class = text> 책보러가기 </p></a>
        </div>
        <div class = "box2 img">
          <a href = "sub3-1.html"><p class = text> 책보러가기 </p></a>
        </div>
        <div class = "box3 img">
          <a href = ""><p class = text> 책보러가기 </p></a>
        </div>
        <div class = "box4 img">
          <a href = ""><p class = text> 책보러가기 </p></a>
        </div>
        <div class = "box5 img">
          <a href = ""><p class = text> 책보러가기 </p></a>
        </div>
        <div class = "box6 img">
          <a href = ""><p class = text> 책보러가기 </p></a>
        </div>
        <div class = "box7 img">
          <a href = ""><p class = text> 책보러가기 </p></a>
        </div>
        <div class = "box8 img">
          <a href = ""><p class = text> 책보러가기 </p></a>
        </div>
        <div class = "box9 img">
          <a href = ""><p class = text> 책보러가기 </p></a>
        </div>
        <div class = "box10 img">
          <a href = ""><p class = text> 책보러가기 </p></a>
        </div>
      </div>
      <div class = "sub3subtext">
        <a href ="">>>더보러가기</a>
      </div>
    </div>
  </main>
</body>
</html>