<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
  <script src = "jquery-3.6.3.min.js"> </script>

</head>
<body>
  <header>
    <div class = "head">
      <div class = "logo">
        <a href = "index.html"><img src = "logo2.png"></a>
      </div>
      <ul class = "topmenu">
        <li><a href = "sub1.html">이달의 책</a></li>
        <li><a href = "sub2.html">감상나누기</a></li>
        <li><a href = "sub3.html">책둘러보기</a></li>
        <li><a href = "sub4.html">자유게시판</a></li>
      </ul>
      <ul class = "rightmenu">
        <li><a href = "login.html">로그인</a></li>
        <li><a href = "join.html">회원가입</a></li>
      </ul>
  </div>
  </header>
  <main>
    <div class = "mainsearch">
      <div class = "box1 img">
        <a href = "sub2-1.html"><p class = text> go </p></a>
      </div>
      <div class = "box2 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "box3 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "box4 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "box5 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "box6 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "box7">
        <div class = "searchtitle">
          지금 읽고 있는 <span>책</span>을 검색하세요!
        </div>
        <input type ="text"  placeholder ="책제목을 입력하세요"><button><a href = "">검색</a></button>
      </div>
      <div class = "box8 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "box9 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "box10 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "box11 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "box12 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "box13 img">
        <a href = ""><p class = text> go </p></a>
      </div>
    </div>
    <div class = "mainpage">
      <div class = "mtext">
        <a href = "sub1.html">이달의 책</a>
      </div>
      <div class = "maincontent">
        <div class = "maintext1">
          "상실, 사랑 그리고 숨어 있는 <span>삶의 질서</span>에 관한 이야기"
        </div>
        <div class = "box img">
          <a href = "sub1.html"><p class = text> 이달의 책 보러가기 </p></a>
        </div>
        <div class = "maintext2">
          <div class = "context1 text1">
            물고기는 존재하지 않는다
          </div>
          <div class = "context2 text">
            우리는 누군가의 이야기에 귀 기울이는 것만으로 크고 작은 삶의 문제를 풀어나갈 <span>용기</span>를 얻기도 한다.
          </div>
          <div class = "context3 text">
            더 이상 살아갈 의지도 희망도 사라져버린 어느날, 운명처럼 <span>'한 사람'</span>의 이야기가 다가왔다.
          </div>
          <div class = "context3 text">
            "인간을 비롯해 모든 생명체는 실질적이고 구체적인 방식으로 이 지구에, 사회에, 서로에게 <span>중요해요.</span> 아버지, 우리는 모두 중요해요!"
          </div>
        </div>
      </div>
    </div>
    <div class = "mainpage1">
      <div class = "mtext">
        <a href = "sub3.html" >책둘러보기</a>
      </div>
      <div class = "mimg">
        <div class = "box1 img">
          <a href = ""><p class = text> 책보러가기 </p></a>
        </div>
        <div class = "box2 img">
          <a href = "sub3-1.html"><p class = text> 책보러가기 </p></a>
        </div>
        <div class = "box3 img">
          <a href = ""><p class = text> 책보러가기 </p></a>
        </div>
      </div>
    </div>

  </main>
  <footer>
    <div class = "foot">
      <div class = "logoimg">
        <a href = "index.html"><img src = "logo2.png"></a>
      </div>
      <div class = custom>
        <ul>
          <li>고객센터</li>
          <li>전화 : 032-1234-1234</li>
          <li>이메일 : booksea@google.com</li>
        </ul>
      </div>
        <ul class = mob>
          <a href = "#"><li><img src = "facebook.png"></li></a>
          <a href = "#"><li><img src = "twitter.png"></li></a>
          <a href = "#"><li><img src = "instagram.png"></li></a>
        </ul>
    </div>
  </footer>
</body>
</html>