<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
  <script src = "jquery-3.6.3.min.js"> </script>

</head>
<body>
  <header>
    <div class = "head">
      <div class = "logo">
        <a href = "index.html"><img src = "img/logo2.png"></a>
      </div>
      <ul class = "topmenu">
        <li><a href = "sub1.html">이달의 책</a></li>
        <li><a href = "sub2.html">감상나누기</a></li>
        <li><a href = "sub3.html">책둘러보기</a></li>
        <li><a href = "sub4.html">자유게시판</a></li>
      </ul>
      <ul class = "rightmenu">
        <li><a href = "login.html">로그인</a></li>
        <li><a href = "join.html">회원가입</a></li>
      </ul>
  </div>
  </header>
  <main>
    <div class = "submaintitle">
      책둘러보기
    </div>
    <div class = "sub3page">
      <div class = "sub3img">
        <div class = "box1 img">
          <a href = ""><p class = text> 책보러가기 </p></a>
        </div>
        <div class = "box2 img">
          <a href = "sub3-1.html"><p class = text> 책보러가기 </p></a>
        </div>
        <div class = "box3 img">
          <a href = ""><p class = text> 책보러가기 </p></a>
        </div>
        <div class = "box4 img">
          <a href = ""><p class = text> 책보러가기 </p></a>
        </div>
        <div class = "box5 img">
          <a href = ""><p class = text> 책보러가기 </p></a>
        </div>
        <div class = "box6 img">
          <a href = ""><p class = text> 책보러가기 </p></a>
        </div>
        <div class = "box7 img">
          <a href = ""><p class = text> 책보러가기 </p></a>
        </div>
        <div class = "box8 img">
          <a href = ""><p class = text> 책보러가기 </p></a>
        </div>
        <div class = "box9 img">
          <a href = ""><p class = text> 책보러가기 </p></a>
        </div>
        <div class = "box10 img">
          <a href = ""><p class = text> 책보러가기 </p></a>
        </div>
      </div>
      <div class = "sub3subtext">
        <a href ="">>>더보러가기</a>
      </div>
    </div>

  </main>
  <footer>
    <div class = "foot">
      <div class = "logoimg">
        <a href = "index.html"><img src = "img/logo2.png"></a>
      </div>
      <div class = custom>
        <ul>
          <li>고객센터</li>
          <li>전화 : 032-1234-1234</li>
          <li>이메일 : booksea@google.com</li>
        </ul>
      </div>
        <ul class = mob>
          <a href = "#"><li><img src = "img/facebook.png"></li></a>
          <a href = "#"><li><img src = "img/twitter.png"></li></a>
          <a href = "#"><li><img src = "img/instagram.png"></li></a>
        </ul>
    </div>
  </footer>
</body>
</html>