<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
  <script src = "jquery-3.6.3.min.js"> </script>

</head>
<body>
  <header>
    <div class = "head">
      <div class = "logo">
        <a href = "index.html"><img src = "img/logo2.png"></a>
      </div>
      <ul class = "topmenu">
        <li><a href = "sub1.html">이달의 책</a></li>
        <li><a href = "sub2.html">감상나누기</a></li>
        <li><a href = "sub3.html">책둘러보기</a></li>
        <li><a href = "sub4.html">자유게시판</a></li>
      </ul>
      <ul class = "rightmenu">
        <li><a href = "login.html">로그인</a></li>
        <li><a href = "join.html">회원가입</a></li>
      </ul>
  </div>
  </header>
  <main>
    <div class = "submaintitle">
      감상나누기
    </div>
    <div class =bookinfo>
      <a href = "sub3-1.html" ><img src ="https://image.aladin.co.kr/product/26429/15/cover500/8954677258_2.jpg">
       << 바로 이책!! 보러가기!</a></div>
  </div>
    <div class = "sub2content">
      <div class = "fixed">
      </div>
      <div class = "sub2conleft">
        <img src = "https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8c3BhY2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60">
        <div class = "sub2conlefttext">
          천문학자는 별을 보지 않는다
        </div>
        <div class = "sub2conlefttext2">
            <ul>
              <li>과학 용어를 검색하며 책장을 넘길 줄 알았는데 어째 자세가 슬금슬금 무너지더니 급기야 침대에 올라가 단숨에 읽었다. </li>
                
              <li>태양계 모형처럼 늘어놓은 귤을 하나씩 까먹으며. 천문학이 인간에게 어떤 쓸모가 있는지 끈질기게 생각해온 것이 분명한 저자는 아주 다양한 방식으로 우주를 사랑한다.</li> 
                
              <li>달 크레이터 풍화에 관한 논문을 쓰는가 하면, 제목에 달이 들어간 영화도 꼼꼼히 뜯어본다. 교양 과목 ‘우주의 이해’를 수강하는 학생들의 이메일에 성실한 답신을 보내고 여성 우주인에 대한 차별적 인식을 지적한다. 근사한 노을에 감동한 날이면 생텍쥐페리의 어린 왕자가 소행성에서 일몰을 연달아 보려면 의자를 어떻게 옮기면 되는지 계산도 한다. </li> 

              <li> 그리하여 심채경의 에세이는 우리를 두 종류의 우주로 안내한다. 하나는 천체들이 길을 가는 곳이고 다른 하나는 비정규직 행성과학자의 소리 없이 분주한 일상이다. 어느 쪽이 더 흥미로운 지 측량하긴 쉽지 않다. 일기 쓰는 천문학자의 시야 넓고 보폭 정확한 글을 읽으며 확신이 들었다. 일이 세상을 만든다면 우리에겐 직업에 관한 더 많은 글이 필요하다.</li>
            </ul> 
          </div>
        <div class = "sub2conright">
          <textarea class = "comment" name ="comment" rows =5 cols =100 placeholder = "한줄감상을 남겨주세요!"></textarea><button><a href="">감상등록</a></button>
        </div>
        <div class = "commenttxt">
        <div>
          - 저도 어린왕자 이야기 부분 재밌게 읽었어요!!
        </div>
        <div>
          - 천문학자의 ㅊ도 몰라도 재밌게 읽을 수 있는 책이라서 좋았어요 ㅎㅎ 
        </div>
      </div>
      </div>
    </div>
  </main>
  <footer>
    <div class = "foot">
      <div class = "logoimg">
        <a href = "index.html"><img src = "img/logo2.png"></a>
      </div>
      <div class = custom>
        <ul>
          <li>고객센터</li>
          <li>전화 : 032-1234-1234</li>
          <li>이메일 : booksea@google.com</li>
        </ul>
      </div>
        <ul class = mob>
          <a href = "#"><li><img src = "img/facebook.png"></li></a>
          <a href = "#"><li><img src = "img/twitter.png"></li></a>
          <a href = "#"><li><img src = "img/instagram.png"></li></a>
        </ul>
    </div>
  </footer>
</body>
</html>