<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout1}">
      
<body>
 <div layout:fragment="content">
  <!--  <main>
    <div class = "submaintitle">
      자유게시판
    </div>
    <div class = "freewrite">
    <table>
      <tr>
        <th>글번호</th><th>제목</th><th>작성자</th><th>조회수</th>
      </tr>
		<tbody> -->
			<!--  테이블의 내용을 출력 블락 

			  타임리프(Thymeleaf) 를 사용해서 루프 돌려서 출력 	 
		 <tr th:each="board : ${sub4}"> 
		 	<td>
		 	    <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
		 	 </td>
		 	<td th:text="${question.createDate}"> </td>
		 </tr>
		-->
			<!-- Thymeleaf 에서 링크를 처리 : @{ } -->
			<!-- | String + 변수 |  : 문자열과 변수를 연결 -->

			<!--  	<tr th:each="question, loop : ${questionList}">  

			<tr th:each="board, loop : ${paging}">-->
				<!-- 
		 	<td th:text="${loop.count}"> 번호 </td>
			 -->

				<!-- 
			 	번호 = 전체게시물수 - (현재페이지*페이징당게시물수) - 나열인덱스 
			 

				<td th:text="${paging.getTotalElements -(paging.number*paging.size)-loop.index}">번호</td>

				<td><a th:href="@{|/board/detail/${board.id}|}">
						[[${board.subject}]] </a> 


				<td><span th:if="${board.author != null}"
					th:text="${board.author.mName}"></span></td>

				<td>[[ ${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}]]</td>
			</tr>

		</tbody>
	</table>
 -->
	
  </main>
  </div>
</body>
</html>
