<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
  <script src = "jquery-3.6.3.min.js"> </script>

</head>
<body>
  <header>
    <div class = "head">
      <div class = "logo">
        <a href = "index.html"><img src = "img/logo2.png"></a>
      </div>
      <ul class = "topmenu">
        <li><a href = "sub1.html">이달의 책</a></li>
        <li><a href = "sub2.html">감상나누기</a></li>
        <li><a href = "sub3.html">책둘러보기</a></li>
        <li><a href = "sub4.html">자유게시판</a></li>
      </ul>
      <ul class = "rightmenu">
        <li><a href = "login.html">로그인</a></li>
        <li><a href = "join.html">회원가입</a></li>
      </ul>
  </div>
  </header>
  <main>
    <div class = subjoin>
        <div class = "jointitle">
          로그인
        </div>
        <table>
          <tr>
            <td class = "title">ID</td>
            <td> <input type ="text"  placeholder ="아이디를 입력해주세요"></td>
          </tr>
          <tr>
            <td class = "title">pw</td>
            <td><input type ="password"  placeholder ="비밀번호를 입력해주세요"></td>
          </tr>
        </table>
        <div class = "joinbtn">
          <a href="#">login</a>
        </div>
    </div>

  </main>
  <footer>
    <div class = "foot">
      <div class = "logoimg">
        <a href = "index.html"><img src = "img/logo2.png"></a>
      </div>
      <div class = custom>
        <ul>
          <li>고객센터</li>
          <li>전화 : 032-1234-1234</li>
          <li>이메일 : booksea@google.com</li>
        </ul>
      </div>
        <ul class = mob>
          <a href = "#"><li><img src = "img/facebook.png"></li></a>
          <a href = "#"><li><img src = "img/twitter.png"></li></a>
          <a href = "#"><li><img src = "img/instagram.png"></li></a>
        </ul>
    </div>
  </footer>
</body>
</html>