<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
  <script src = "jquery-3.6.3.min.js"> </script>

</head>
<body>
  <header>
    <div class = "head">
      <div class = "logo">
        <a href = "index.html"><img src = "img/logo2.png"></a>
      </div>
      <ul class = "topmenu">
        <li><a href = "sub1.html">이달의 책</a></li>
        <li><a href = "sub2.html">감상나누기</a></li>
        <li><a href = "sub3.html">책둘러보기</a></li>
        <li><a href = "sub4.html">자유게시판</a></li>
      </ul>
      <ul class = "rightmenu">
        <li><a href = "login.html">로그인</a></li>
        <li><a href = "join.html">회원가입</a></li>
      </ul>
  </div>
  </header>
  <main>
    <div class = "submaintitle">
      감상나누기
    </div>
    <div class = "sub2main">
      <div class = "con0">

      </div>
      <div class = "con1  img">
        <div class = "searchtitle">
          지금 읽고 있는 <span>책</span>을 검색하세요!
        </div>
        <input type ="text"  placeholder ="책제목을 입력하세요"><button><a href = "">검색</a></button>
      </div>
      <div class = "con0 img" >
        <a href = "write.html">글쓰기</a>
      </div>
      <div class = "con2 img">
        <a href = "sub2-1.html"><p class = text> go </p></a>
      </div>
      <div class = "con3 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "con4 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "con5 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "con6 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "con7 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "con8 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "con9 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "con10 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "con11 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "con12 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "con13 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "con14 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "con15 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "con16 img">
        <a href = ""><p class = text> go </p></a>
      </div>
      <div class = "con17 img">
        <a href = ""><p class = text> go </p></a>
      </div>
    </div>
    <div class = "more"><a href ="" >더보기 >></a></div>
  </main>
  <footer>
    <div class = "foot">
      <div class = "logoimg">
        <a href = "index.html"><img src = "img/logo2.png"></a>
      </div>
      <div class = custom>
        <ul>
          <li>고객센터</li>
          <li>전화 : 032-1234-1234</li>
          <li>이메일 : booksea@google.com</li>
        </ul>
      </div>
        <ul class = mob>
          <a href = "#"><li><img src = "img/facebook.png"></li></a>
          <a href = "#"><li><img src = "img/twitter.png"></li></a>
          <a href = "#"><li><img src = "img/instagram.png"></li></a>
        </ul>
    </div>
  </footer>
</body>
</html>