<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout1}">
<body>
<div layout:fragment="content">
  <main>
    <div class = "submaintitle">
      자유게시판
    </div>

 <div class = "freewrite">
    <table>
      <tr>
        <th>글번호</th><th>제목</th><th>작성자</th><th>조회수</th>
      </tr>
		<tbody>
				<td th:text="${paging.getTotalElements -(paging.number*paging.size)-loop.index}">번호</td>

				<td><a th:href="@{|//detail/${question.id}|}">
						[[${board.subject}]] </a> 
					<span class="text-danger small ms-2" th:if="${#lists.size(question.answerList) > 0}"
					th:text="${#lists.size(question.answerList)}"> </span></td>

				<td><span th:if="${question.author != null}"
					th:text="${question.author.username}"></span></td>

				<td>[[ ${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}]]</td>
			</tr>

		</tbody>
	</table>

	<!--  페이징 처리 시작 -->

	<div th:if="${!paging.isEmpty()}">
		<ul class="pagination justify-content-center">

			<!-- 이전페이지가 존재하지 않으면 이전에 링크를 비활성화 -->
			<li class="page-item"
				th:classappend="${!paging.hasPrevious} ? 'disabled'">
				<!-- paging.number : 현재페이지  --> <a class="page-link"
				href="javascript:void(0)" th:data-page="${paging.number-1}"> <span>이전</span>

			</a>

			</li>

			<!-- 첫페이지 부터 마지막 페이지까지 루프를 돌려서 출력 -->
			<li th:each="page : ${#numbers.sequence(0,paging.totalPages-1)}"
				th:if="${page >= paging.number-5 and page <= paging.number+5}"
				th:classappend="${page==paging.number} ? 'active'" class="page-item">
				<a th:text="${page}" class="page-link" href="javascript:void(0)"
				th:data-page="${page}"></a>
			</li>

			<!-- 다음을 처리하는 블락 -->
			<li class="page-item"
				th:classappend="${!paging.hasNext} ? 'disabled'"><a
				class="page-link" href="javascript:void(0)"
				th:data-page="${paging.number+1}"> <span>다음</span>

			</a></li>
		</ul>
	</div>

	<!--  페이징 처리 끝 -->

	<form th:action="@{/question/list}" method="get" id="searchForm">
		<input type="hidden" id="kw" name="kw" th:value="${kw}"> <input
			type="hidden" id="page" name="page" th:value="${paging.number}">
	</form>

</div>


<script layout:fragment="script" type='text/javascript'>
	const page_elements = document.getElementsByClassName("page-link");
	Array.from(page_elements).forEach(function(element) {
		element.addEventListener('click', function() {
			document.getElementById('page').value = this.dataset.page;
			document.getElementById('searchForm').submit();
		});
	});
	const btn_search = document.getElementById("btn_search");
	btn_search.addEventListener('click', function() {
		document.getElementById('kw').value = document.getElementById('search_kw').value;
		document.getElementById('page').value = 0; // 검색버튼을 클릭할 경우 0 페이지부터 조회한다.
		document.getElementById('searchForm').submit();
		
	});
</script>

</html>

    <div class = "freewrite">
    <table>
      <tr>
        <th>글번호</th><th>제목</th><th>작성자</th><th>조회수</th>
      </tr>
      <tr>
        <td>7</td><td class = title><a href ="#">데미안 이야기할사람!! [3]</a></td><td>책조아</td><td>78</td>
      </tr>
      <tr>
        <td>6</td><td class = title><a href ="#">요즘 읽는책 알려주고가~ [5]</a></td><td>한량</td><td>36</td>
      </tr>
      <tr>
        <td>5</td><td class = title><a href ="#">좋아하는 서점 어디야? [1]</a></td><td>테스</td><td>80</td>
      </tr>
      <tr>
        <td>4</td><td class = title><a href ="#">오만과 편견 나 왜 이제봤지..[10]</a></td><td>로맨스더쿠</td><td>99</td>
      </tr>
      <tr>
        <td>3</td><td class = title><a href ="#">이북리더기 추천해줄사람...[3]</a></td><td>읽는새럼</td><td>10</td>
      </tr>
      <tr>
        <td>2</td><td class = title><a href ="#">오늘의 저메추 ....[2]</a></td><td>호로록</td><td>33</td>
      </tr>
      <tr>
        <td>1</td><td class = title><a href ="freewritetext.html">교보문고 디퓨져 나온거 나만 이제 알았나? [1]</a></td><td>킁킁</td><td>58</td>
      </tr>
    </table>
    <div class = "writebottom">
      <a href = "#">[처음]</a> <a href = "#">[이전]</a> <a href = "#">[1]</a> <a href = "#">[2]</a> <a href = "#">[3]</a> <a href = "#">[4]</a> <a href = "#">[5]</a> <a href = "#">[다음]</a> <a href = "#">[마지막]</a> <a class =writebtn href = "freewrite.html">글쓰기</a>
    </div>
  </div>
  </main>

</body>
</html>