<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
  <script src = "jquery-3.6.3.min.js"> </script>

</head>
<body>
  <header>
    <div class = "head">
      <div class = "logo">
        <a href = "index.html"><img src = "img/logo2.png"></a>
      </div>
      <ul class = "topmenu">
        <li><a href = "sub1.html">이달의 책</a></li>
        <li><a href = "sub2.html">감상나누기</a></li>
        <li><a href = "sub3.html">책둘러보기</a></li>
        <li><a href = "sub4.html">자유게시판</a></li>
      </ul>
      <ul class = "rightmenu">
        <li><a href = "login.html">로그인</a></li>
        <li><a href = "join.html">회원가입</a></li>
      </ul>
  </div>
  </header>
  <main>
    <div class = "submaintitle">
      자유게시판
    </div>
    <div class = "freewrite">
    <table>
      <tr>
        <th>글번호</th><th>제목</th><th>작성자</th><th>조회수</th>
      </tr>
      <tr>
        <td>7</td><td class = title><a href ="#">데미안 이야기할사람!! [3]</a></td><td>책조아</td><td>78</td>
      </tr>
      <tr>
        <td>6</td><td class = title><a href ="#">요즘 읽는책 알려주고가~ [5]</a></td><td>한량</td><td>36</td>
      </tr>
      <tr>
        <td>5</td><td class = title><a href ="#">좋아하는 서점 어디야? [1]</a></td><td>테스</td><td>80</td>
      </tr>
      <tr>
        <td>4</td><td class = title><a href ="#">오만과 편견 나 왜 이제봤지..[10]</a></td><td>로맨스더쿠</td><td>99</td>
      </tr>
      <tr>
        <td>3</td><td class = title><a href ="#">이북리더기 추천해줄사람...[3]</a></td><td>읽는새럼</td><td>10</td>
      </tr>
      <tr>
        <td>2</td><td class = title><a href ="#">오늘의 저메추 ....[2]</a></td><td>호로록</td><td>33</td>
      </tr>
      <tr>
        <td>1</td><td class = title><a href ="freewritetext.html">교보문고 디퓨져 나온거 나만 이제 알았나? [1]</a></td><td>킁킁</td><td>58</td>
      </tr>
    </table>
    <div class = "writebottom">
      <a href = "#">[처음]</a> <a href = "#">[이전]</a> <a href = "#">[1]</a> <a href = "#">[2]</a> <a href = "#">[3]</a> <a href = "#">[4]</a> <a href = "#">[5]</a> <a href = "#">[다음]</a> <a href = "#">[마지막]</a> <a class =writebtn href = "freewrite.html">글쓰기</a>
    </div>
  </div>
  </main>
  <footer>
    <div class = "foot">
      <div class = "logoimg">
        <a href = "index.html"><img src = "img/logo2.png"></a>
      </div>
      <div class = custom>
        <ul>
          <li>고객센터</li>
          <li>전화 : 032-1234-1234</li>
          <li>이메일 : booksea@google.com</li>
        </ul>
      </div>
        <ul class = mob>
          <a href = "#"><li><img src = "img/facebook.png"></li></a>
          <a href = "#"><li><img src = "img/twitter.png"></li></a>
          <a href = "#"><li><img src = "img/instagram.png"></li></a>
        </ul>
    </div>
  </footer>
</body>
</html>